<div class="jumbotron-fluid" id="navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" id="avatar">
                <h5 class="card-title">Username</h5>
                <img src="https://brijamfitz.github.io/Portfolio/assets/images/profile-image.jpg" id="profile-img" />
                <img src="http://pixelartmaker.com/art/bb62bdc4697c7fb.png" id="castle-img" />
            </div>
            <div class="col-md-4" id="user-experience">
                <h5 class="card-title">Progress</h5>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-md-4" id="army-counts">
                <h5 class="card-title">Army</h5>
                <div>Archers: <span id="user-archer-count">{{data.archerCount}}</span></div>
                <div>Knights: <span id="user-knight-count">{{data.knightCount}}</span></div>
                <div>Mages: <span id="user-mage-count">{{data.mageCount}}</span></div>
            </div>
        </div>
    </div>
</div>