<!-- ======================================================================================== -->
<!-- USERNAV BAR AT TOP OF UI -->
<!-- ======================================================================================== -->
{{> usernav/usernav}}

<div id="home">
  <div class="container">
    <!-- ======================================================================================== -->
    <!-- ENCOUNTER CARD -->
    <!-- ======================================================================================== -->
    {{> encounter/encounter-card}}


    <!-- ======================================================================================== -->
    <!-- TODO LISTS -->
    <!-- ======================================================================================== -->

    <div class="row" id="userId" data="{{data.userId}}">
      {{> todo-layout/category-list category="personal" troop-type="archer" tasksObj=personalTasks }}
      {{> todo-layout/category-list category="wellness" troop-type="archer" tasksObj=wellnessTasks }}
    </div>

    <div class="row">
      {{> todo-layout/category-list category="exercise" troop-type="knight" tasksObj=exerciseTasks }}
      {{> todo-layout/category-list category="chores" troop-type="knight" tasksObj=choresTasks }}
    </div>

    <div class="row">
      {{> todo-layout/category-list category="learning" troop-type="mage" tasksObj=learningTasks }}
      {{> todo-layout/category-list category="creativity" troop-type="mage" tasksObj=creativityTasks }}
    </div>

  </div>
</div>

{{>social/social}}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/battle.js"></script>
<script src="/js/tasks.js"></script>
<script src="/js/generateEncounter.js"></script>
<script src="/js/social.js"></script>
<script src="/js/feed.js"></script>
<script src="/js/modals.js"></script>