<!-- ======================================================================================== -->
<!-- USER INFO BAR AT TOP OF DASHBOARD -->
<!-- ======================================================================================== -->
{{> usernav/usernav}}

<div id="home">
  <div class="container">
    <!-- ======================================================================================== -->
    <!-- ENCOUNTER CARD -->
    <!-- ======================================================================================== -->
    <div class="row">
     {{> encounter/encounter-card}}
    </div>

    <!-- ======================================================================================== -->
    <!-- FIGHT MODAL -->
    <!-- ======================================================================================== -->
    <div class="modal fade bd-example-modal-md" id="fightModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Fight!</h4>
            <button type="button" class="close" data-dismiss="modal">x</button>
          </div>
          <div class="modal-body">
            <!-- Battle content goes here -->
            <p id="battle-simulation">Battle simulation content goes here</p>
            <p id="battle-results">You lost 10 knights, 5 archers, 1 mage</p>
          </div>
          <div class="modal-footer">
            <h5>Reward: You have gained 1 Province!</h5>
            {{!-- <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" id="close">Close</button> --}}
          </div>
        </div>
      </div>
    </div>

    <!-- ======================================================================================== -->
    <!-- FLEE MODAL -->
    <!-- ======================================================================================== -->
    <div class="modal fade bd-example-modal-md" id="fleeModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Flee!</h4>
            <button type="button" class="close" data-dismiss="modal">x</button>
          </div>
          <div class="modal-body">
            <!-- Content goes here -->
            <p>Your army has retreated!</p>
            <p>You have lost 1 province for this act of cowardice.</p>
            <p>Return tomorrow &mdash; if you are ready for battle!</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" id="close">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ======================================================================================== -->
    <!-- TODO LISTS -->
    <!-- ======================================================================================== -->

    <div class="row">
      {{!-- {{> todo-layout/category-list category="personal" }} --}}
      {{> todo-lists/personal category="personal" troop-type="archer"}}
      {{> todo-lists/wellness category="wellness" troop-type="archer"}}
    </div>

    <div class="row">
      {{> todo-lists/exercise category="exercise" troop-type="knight"}}
      {{> todo-lists/chores category="chores" troop-type="knight"}}
    </div>

    <div class="row">
      {{> todo-lists/learning category="learning" troop-type="mage"}}
      {{> todo-lists/creativity category="creativity" troop-type="mage"}}
    </div>

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/tasks.js"></script>