<div class="container">
    <div class="jumbotron" id="login-card">
        <h1 class="display-4">The Self Improvement Kingdom!</h1>
        <img src="images/login-castle.png" alt="login-castle" />
        <p class="lead">Build your army and battle your way to self improvement!</p>
        <hr class="my-4">
<<<<<<< HEAD
        <div class="col-md-12" id="signup-container">
            {{#if msg}}
                {{msg}}
            {{/if}}
=======
        <div class="col-md-12" id="login-container">
>>>>>>> 956f7ffa65d1f2c5ccedc639232f0148d3387530
            <p>Login to continue your quest!</p>
            <form action="/api/login/local" method="post">
                <div>
                    {{!-- <label>Username:</label> --}}
                    <input type="text" name="username" placeholder="Username" id="username-input" />
                </div>
                <div>
                    {{!-- <label>Password:</label> --}}
                    <input type="password" name="password" placeholder="Password" id="password-input" />
                </div>
                <div>
                    <input type="submit" value="Login" class="btn btn-lg btn-primary" id="login-btn" />
                </div>
            </form>
            <p>Don't have an account yet? Create one <a href="/signup">here</a>.</p>
            <p id="about">Learn more about the Self Improvement Kingdom <a href="#">here</a>.</p>
        </div>
    </div>
</form>


</div>
