<form action="/api/login/local" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="login"/>
    </div>
</form>

{{#if message}}
     <div class="alert alert-danger">{{message}}</div>
{{/if}}