<div class="container">
    <div class="jumbotron" id="signup-card">
        <h1 class="display-4">The Self Improvement Kingdom!</h1>
        <img src="http://orig11.deviantart.net/c588/f/2010/235/a/6/pixel_art__castle_keep_by_doctordrg.png" alt="castle" />
        <p class="lead">Build your army and battle your way to self improvement!</p>
        <hr class="my-4">
        <div class="col-md-12" id="signup-container">
            <p>Login to continue your quest!</p>
            <form action="/api/login/local" method="post">
                <div>
                    {{!-- <label>Username:</label> --}}
                    <input type="text" name="username" placeholder="Username" id="username-input" />
                </div>
                <div>
                    {{!-- <label>Password:</label> --}}
                    <input type="password" name="password" placeholder="Password" id="password-input" />
                </div>
                <div>
                    <input type="submit" value="Login" class="btn btn-lg btn-primary" id="login-btn" />
                </div>
            </form>
        </div>
    </div>
</div>
