<div class="container">
    <div class="jumbotron" id="signup-card">
        <h1 class="display-4">The Self Improvement Kingdom!</h1>
        <img src="images/login-castle.png" alt="login-castle" />
        <p class="lead">Build your army and battle your way to self improvement!</p>
        <hr class="my-4">
        <div class="col-md-12" id="signup-container">
            <p>Create a username and password to begin your quest!</p>
            <form action="/api/signup" method="post">
                <div>
                    {{!-- <label>Username:</label> --}}
                    <input type="text" name="username" placeholder="Username" id="username-input" />
                </div>
                <div>
                    {{!-- <label>Password:</label> --}}
                    <input type="password" name="password" placeholder="Password" id="password-input" />
                </div>
                <div>
                    <input type="submit" value="Create Account" class="btn btn-lg btn-primary" id="create-account-btn" />
                </div>
            </form>
            <p>Already have an account? Login <a href="/login">here</a>.</p>
            <p id="about">Learn more about the Self Improvement Kingdom <a href="#">here</a>.</p>
        </div>
    </div>
</div>