<div class="login-signup-body">
    <div class="jumbotron signup-card">
        <h1 class="display-4 login-title">Self-Improvement Kingdom</h1>
        <img src="/images/castle-1.png" alt="wood hut" class="login-hut" />
        <img src="/images/archer.png" alt="archer" class="login-archer" />
        <img src="/images/knight.png" alt="knight" class="login-knight" />
        <img src="/images/mage.png" alt="mage" class="login-mage" />
        <img src="/images/login-castle.png" alt="castle" class="login-castle" />
        <p class="lead">Welcome to Self-Improvement Kingdom!</p>

        <p class="game-intro">This app is a gamified task manager that helps you build good habits and reward you for prioritizing your goals. No
            gimmicks, no microtransactions, no ads. Too many of today's applications trap users in an endless cycle, sucking away their productivity, and money. Our app focuses on just you, and your own self-improvement.</p>

        <p class="game-intro">We want our users to get out &mdash; to be active, to be productive &mdash; and all the while remain immersed in the familiar confines of mobile gaming. Your real life accomplishments will directly impact your virtual kingdom, as you build your army and engage in daily battles. The more productive you are throughout the day, the more your kingdom will grow, and soon enough, you will be thriving in both the real world, and in ours.</p>

        <p class="game-intro">Ultimately, Self-Improvement Kingdom will be what you make of it. It leans heavily on an honor system,
            and your personal objectives are what <em>you</em> define. We hope you enjoy playing this game as much as we did
            making it.</p>

        <hr>

        <div class="col-md-12 signup-container">
            <h5>Create a username and password to begin your quest!</h5>
            <p style="color:crimson">
                {{#if msg}}
                {{msg}}
                {{/if}}
            </p>
            <form action="/api/signup" method="post">
                <div>
                    <label class="sr-only">Username:</label>
                    <input type="text" name="username" placeholder="Username" id="username-input" />
                </div>
                <div>
                    <label class="sr-only">Password:</label>
                    <input type="password" name="password" placeholder="Password" id="password-input" />
                </div>
                <div>
                    <input type="submit" value="Create Account" class="btn btn-lg btn-primary" id="create-account-btn" />
                </div>
            </form>
            <h6>Already have an account? Login <a href="/login" id="login-link">here</a>.</h6>
            {{!-- <p id="about">Learn more about Self-Improvement Kingdom <a href="#" id="about-link">here</a>.</p>
            --}}
        </div>
    </div>
</div>