<p class="game-intro">This app is a gamified task manager that helps you build good habits and rewards you for
    prioritizing your goals. No
    gimmicks, no microtransactions, no ads. Too many of today's applications trap users in an endless cycle, sucking
    away their productivity and money. Our app focuses on just you and your own self-improvement.</p>

<p class="game-intro">We want our users to get out &mdash; to be active, to be productive &mdash; and all the while
    remain immersed in the familiar confines of mobile gaming. Your real life accomplishments will directly impact your
    virtual kingdom, as you build your army and engage in daily battles. The more productive you are throughout the
    day, the more your kingdom will grow, and soon enough, you will be thriving in both the real world and in ours.</p>

<p class="game-intro">Ultimately, Self-Improvement Kingdom will be what you make of it. It leans heavily on an honor
    system,
    and your personal objectives are what <em>you</em> define. We hope you enjoy playing this game as much as we did
    making it.</p>