<footer>
    <div class="btn-group col-md-1 dropup" id="friend-list">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Allies
        </button>
        <div class="dropdown-menu text-center mx-auto" id="friend-zone">
            <button type="button" class="btn btn-secondary" id="add-friend" aria-haspopup="true" aria-expanded="false">
                Request Alliance
            </button>
        </div>
    </div>

    <div class="form-popup" id="new-friend">
        <label for="username">With whom shall we propose an alliance, sire?</label>
        <input type="text" placeholder="Ally's username" id="fri-username">
        <button type="submit" class="btn btn-secondary" id="fri-submit">Dispatch Request</button>
        <button type="submit" class="btn btn-danger" id="fri-cancel">Cancel</button>
    </div>
</footer>