<footer>
    {{!-- <div id="feed-container">
        <div class="tcontainer">
            <div class="ticker-wrap">
                <div class="ticker-move">

                </div>
            </div>
        </div>
    </div> --}}

    <div class="ticker-wrap">
        <div class="ticker">
            
        </div>
    </div>
</footer>