<div class="row" id="footer">
    <!-- Default dropup button -->
    <div class="btn-group dropup ml-5 float-left" id="friend-list">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Allies
        </button>

        <div class="dropdown-menu" id="friend-zone">
            <button type="button" class="btn btn-secondary" id="add-friend" aria-haspopup="true" aria-expanded="false">
                Request Alliance
            </button>
        </div>
    </div>

    <div class="form-popup" id="new-friend">
        <label for="username">With whom shall we propose an alliance, sire?</label>
        <input type="text" placeholder="Ally's username" id="fri-username">
        <button type="submit" class="btn btn-secondary" id="fri-submit">Dispatch Request</button>
        <button type="submit" class="btn btn-danger" id="fri-cancel">Cancel</button>
    </div>
    {{!-- <a class="mr-5 float-right" href='/logout'>Signout</a> --}}
</div>
<div class="row">
    <div class="col-md-12" id="logout-btn-container">
        <a class="btn btn-lg btn-primary" href="/logout">Logout</a>
    </div>
</div>