<div class="col-12">
    <div class="jumbotron" id="encounter-card">
        <div class="row">
            <div class="col-md-4" id="user-army">
                <h4>Your Army</h4>
                <hr class="my-4">
                <img src="./images/archer.png" id="encounter-img-archer"><p>Archers x <span id="encounter-archer-count">{{data.archerCount}}</span> -<span id="encounter-archer-loss"></span></p>
                <img src="./images/knight.png" id="encounter-img-knight"><p>Knights x <span id="encounter-knight-count">{{data.knightCount}}</span> -<span id="encounter-knight-loss"></span></p>
                <img src="./images/mage.png" id="encounter-img-mage"><p>Mages x <span id="encounter-mage-count">{{data.mageCount}}</span> -<span id="encounter-mage-loss"></span></p>
            </div>
            <div class="col-md-4" id="fight-flee">
                <h4>Encounter Name</h4>
                <hr class="my-4">
                <div class="battle-buttons">
                    <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" id="fight-btn" data-target="#fightModal">Fight!</a>
                    <span> OR </span>
                    <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#fleeModal">Flee!</a>
                    <hr class="my-4">
                </div>
                
            </div>
            <div class="col-md-4" id="enemy">
                <h4>Enemy Army</h4>
                <hr class="my-4">
                <img src="./images/archer.png" id="encounter-img-archer"><p>Archers x <span id="enemy-archer-count">20</span> -<span id="enemy-archer-loss"></span></p>
                <img src="./images/knight.png" id="encounter-img-knight"><p>Knights x <span id="enemy-archer-count">10</span> -<span id="enemy-archer-loss"></span></p>
                <img src="./images/mage.png" id="encounter-img-mage"><p>Mages x <span id="enemy-archer-count">5</span> -<span id="enemy-archer-loss"></span></p>
            </div>
        </div>
    </div>
</div>