<div class="col-12">
    <div class="jumbotron" id="encounter-card">
        <div class="row">
            <div class="col-md-4" id="user-army">
                <h4>Your Army</h4>
                <hr class="my-4">
                <img src="./images/archer.png" id="encounter-img-archer"><p>Archers x <span id="player-archer-count">{{data.archerCount}}</span> <span id="player-archer-loss" class="subtractor"></span></p>
                <img src="./images/knight.png" id="encounter-img-knight"><p>Knights x <span id="player-knight-count">{{data.knightCount}}</span> <span id="player-knight-loss" class="subtractor"></span></p>
                <img src="./images/mage.png" id="encounter-img-mage"><p>Mages x <span id="player-mage-count">{{data.mageCount}}</span> <span id="player-mage-loss" class="subtractor"></span></p>
            </div>
            <div class="col-md-4" id="fight-flee">
                <h4 id="battleName">The Battle of Exampleland</h4>
                <hr class="my-4">
                <div class="battle-buttons">
                    <a class="btn btn-primary btn-lg" href="#" id="fight-btn">Fight!</a>
                    <span> OR </span>
                    <a class="btn btn-primary btn-lg" href="#" role="button" data-toggle="modal" data-target="#fleeModal">Flee!</a>
                    <hr class="my-4">
                </div>
                
            </div>
            <div class="col-md-4" id="enemy">
                <h4>Enemy Army</h4>
                <hr class="my-4">
                <img src="./images/archer.png" id="encounter-img-archer"><p><span id="enemy-archer-loss" class="subtractor"></span>Archers x <span id="enemy-archer-count">1</span></span></p>
                <img src="./images/knight.png" id="encounter-img-knight"><p><span id="enemy-knight-loss" class="subtractor"></span>Knights x <span id="enemy-knight-count">2</span></span></p>
                <img src="./images/mage.png" id="encounter-img-mage"><p><span id="enemy-mage-loss" class="subtractor"></span>Mages x <span id="enemy-mage-count">3</span></span></p>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-md" id="resultModal" role="dialog">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">RESULTS</h4>
            <button type="button" class="close" data-dismiss="modal">x</button>
          </div>
          <div class="modal-body" id="result-body">
            <!-- Content goes here -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-lg btn-primary" data-dismiss="modal" id="close">Close</button>
          </div>
        </div>
      </div>
    </div>
    <audio id="battleEffects">
        <source src="/sounds/battlesfx.mp3" type="audio/mpeg">
    </audio>
    <audio id="battleStart">
        <source src="/sounds/start.mp3" type="audio/mpeg">
    </audio>
</div>