body {
  background-color: #1E1E1F;
  padding-top: 135px;
}

.list-group-item {
  line-height: 2.5;
}
/* ================================================================================== */
/* BRIAN'S CSS FOR ENCOUNTER CARD AND USER NAVBAR INFO */
/* ================================================================================== */
#navbar {
  background-color: royalblue;
  color: white;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 1;
}

#encounter-card {
  margin: 30px 0px 30px 0px;
  width: 100%;
  background-color: #fff;
}

#encounter-card .btn {
  margin: 10px;
  background-color: royalblue;
}

img {
  margin: 5px;
}

#fight-flee,
#avatar,
#user-experience,
#user-level,
#army-counts {
  text-align: center;
}

#user-level .level {
  margin-top: 22px;
}

#enemy {
  text-align: right;
}

#profile-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

#castle-img {
  height: 50px;
  width: 50px;
}

#user-experience .progress {
  border-radius: 20px;
  height: 20px;
  margin-top: 30px;
}

.modal-header {
  text-align: center;
}

#encounter-img-archer,
#encounter-img-mage {
  height: 30px;
  width: 30px;
}

#encounter-img-knight {
  height: 30px;
  width: 25px;
}

/* ================================================================================== */


/* ================================================================================== */
/* Todo list styles */
/* ================================================================================== */

.todo-card {
  margin-bottom: 40px;
}

.todo-card > .card-header {
  padding: 0 15px;
}

.troop-archer > .card-header {
  background: linear-gradient(to right, rgba(17,165,35,.45), rgba(17,165,35,.45) 65%, rgb(255,255,255,1));
}

.troop-knight > .card-header {
  background: linear-gradient(to right, rgba(53,53,53,.45), rgba(53,53,53,.45) 65%, rgb(255,255,255,1));
}

.troop-mage > .card-header {
  background: linear-gradient(to right, rgba(23,62,184,.45), rgba(23,62,184,.45) 65%, rgb(255,255,255,1));
}

.troop-archer .checkbox-link:hover {
  background-color: rgba(17,165,35,.25);
}

.troop-knight .checkbox-link:hover {
  background-color: rgba(53,53,53,.25);
}

.troop-mage .checkbox-link:hover {
  background-color: rgba(23,62,184,.25);
}

.tooltip-inner::first-letter {
  text-transform: capitalize;
}

.todo-card .card-header h2 {
  text-align: center;
  font-size: 24px;
  margin: .5rem 0;
  position: relative;
  text-transform: capitalize;
}

.todo-card .progress {
  height: 15px;
  border-radius: 10px;
  margin: 10px 0 20px;
}

.bonus {
  position: absolute;
  top: 2px;
  right: 10px;
}

.bonus img {
  height: 30px;
}

.difficulty-select {
  display: block;
  margin: 4px auto;
}

.task-form {
  text-align: center;
  margin: 5px 5px 0;
}

.task-form > .form-group, .edit-task-form > .form-group {
  margin-bottom: 5px;
}

.btn-add-task {
  width: 50%;
  display: block;
  margin: 4px auto 10px;
}

.tasks {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.tasks li {
  cursor: pointer;
  position: relative;
  font-size: 18px;
  padding: 5px 16px 5px 16px;
  border-top: 1px solid #92A0A5;
}

.tasks li:last-of-type {
  border-bottom: 1px solid #92A0A5;
}

/* .tasks li:before {
	font-family: 'Font Awesome 5 Free';
  content: "\f0c8";
  font-size: 24px;
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
  line-height: 1;
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
} */

/* .task-buttons {
  display: inline-block;
  position: absolute;
  right: 0;
} */

.checkbox-link {
  font-size: 23px;
  margin-right: 8px;
}

.task-name {
  padding-right: 75px;
}

.btn-edit {
  display: inline-block;
  padding: 0 4px;
  position: absolute;
  line-height: 0px;
  font-size: 12px;
  right: 33px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 2px solid black;
  border-radius: 3px;
  height: 22px;
}

.btn-edit:hover {
  background-color: #4F6BD2;
  color: #fff;
}

.btn-delete {
  display: inline-block;
  padding: 0;
  position: absolute;
  height: 22px;
  width: 22px;
  line-height: 0px;
  font-size: 18px;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 2px solid black;
  border-radius: 3px;
}

.btn-delete:hover {
  background-color: red;
  color: #fff;
}

.btn-delete:focus {
  box-shadow: none;
}

/* .tasks li:hover:before {
  content: "\f14a";
} */

.tasks.completed {
  padding-top: 15px;
  margin-bottom: 10px;
}

.tasks.completed li {
  cursor: default;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 43px;
}
.tasks.completed li:before {
  font-family: 'Font Awesome 5 Free';
  content: "\f14a";
  font-size: 24px;
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
  line-height: 1;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.accordion .card-header {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 14px;
  position: relative;
}

.btn-expand {
  position: relative;
  text-decoration: none !important;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-expand:hover {
  text-decoration: none;
}

.btn-expand:before {
	font-family: 'Font Awesome 5 Free';
  content: "\f146";
  font-size: 24px;
  -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.d-block.btn-expand:before {
  content: "\f146";
}

.collapsed.btn-expand:before {
  content: "\f0fe";
}

.btn-expand:hover:before {
  font-weight: 700;
}

.collapse-completed {
  max-height: 100px;
  overflow-y: auto;
}

.troop-archer .collapse-completed {
  background: linear-gradient(to right, rgba(17,165,35,.25), rgba(17,165,35,.25) 65%, rgb(255,255,255,1));
}

.troop-knight .collapse-completed {
  background: linear-gradient(to right, rgba(53,53,53,.25), rgba(53,53,53,.25) 65%, rgb(255,255,255,1));
}

.troop-mage .collapse-completed {
  background: linear-gradient(to right, rgba(23,62,184,.25), rgba(23,62,184,.25) 65%, rgb(255,255,255,1));
}